[Unit]
Description=Dynamically change wallpaper
BindsTo=graphical-session.target

[Service]
Type=oneshot
Environment=DISPLAY=:0
ExecStart=/usr/bin/env bash -c "dynamite-update"

[Install]
WantedBy=xsession.target
