[Unit]
Description=Run URxvt daemon
BindsTo=graphical-session.target

[Service]
ExecStart=/usr/bin/env bash -c 'urxvtd -q -o'
Restart=always

[Install]
WantedBy=xsession.target
